body {
    background: url("../images/Background\ font.jpg") no-repeat;
    margin: 0;
    padding: 0;
}
.container {
    margin: 15% auto;
    text-align: center;
}
.container > h2 {
    font-size: 2.7rem;
    color: #0089ff;
    font-family: system-ui;
    margin-bottom: 0;
}
.container > h3 {
    font-size: 3.5rem;
    margin: 0;
    color: #ef1f1f;
    font-family: sans-serif;
}
.container > .general {
    display: flex;
    justify-content: center;
}
.general > .box {
    margin: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: system-ui;
}
.box > h4 {
    background-color: #ff031bde;
    padding: 0.7rem;
    color: #00ffff;
    text-shadow: -1px 2px 0.5px;
}

.second {
    color: #f70956;
}

.zero {
    color: #fff;
}

.two {
   color: #00ff62; 
}

.double {
   color: #0089ff; 
}
.logo {
    width: 350px;
    height: 400px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
    filter: brightness(95%);
}
