body {
    background: url("../images/Background\ font.jpg") no-repeat;
    margin: 0;
    padding: 0;
}
.container {
    margin: 15% auto;
    text-align: center;
}
.container > h2 {
    font-size: 2.7rem;
    color: #0089ff;
    font-family: system-ui;
    margin-bottom: 0;
}
.container > h3 {
    font-size: 3.5rem;
    margin: 0;
    color: #ef1f1f;
    font-family: sans-serif;
}
.container > .general {
    display: flex;
    justify-content: center;
}
.general > .box {
    margin: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: system-ui;
}
.box > h4 {
    background-color: #ff031bde;
    padding: 0.7rem;
    color: #00ffff;
    text-shadow: -1px 2px 0.5px;
}

.second {
    color: #f70956;
}

.zero {
    color: #fff;
}

.two {
   color: #00ff62; 
}

.double {
   color: #0089ff; 
}
.logo {
    width: 350px;
    height: 400px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
    filter: brightness(95%);
}

@media (max-width:800px) {
    .container > h2 {
        font-size: 2.5rem;
    }
    .container > h3 {
        font-size: 3.2rem;
    }
    .box > h4 {
        font-size: 20px;
    }
    .general > .box > h2 {
        font-size: 34px;
    }
}

@media (max-width:700px) {
    .container > h2 {
        font-size: 2.35rem;
    }
    .container > h3 {
        font-size: 2.8rem;
    }
    .box > h4 {
        font-size: 18px;
    }
    .general > .box > h2 {
        font-size: 32px;
    }
}

@media (max-width:600px) {
    .container > h2 {
        font-size: 2.1rem;
    }
    .container > h3 {
        font-size: 2.5rem;
    }
    .box > h4 {
        font-size: 16px;
    }
    .general > .box > h2 {
        font-size: 30px;
    }
}

@media (max-width:500px) {
    .container > h2 {
        font-size: 1.8rem;
    }
    .container > h3 {
        font-size: 2.2rem;
    }
    .box > h4 {
        font-size: 14px;
    }
    .general > .box > h2 {
        font-size: 28px;
    }
    .logo {
        width: 280px;
        height: 330px;
    }

}

@media (max-width:450px) {
    .container > h2 {
        font-size: 1.5rem;
    }
    .container > h3 {
        font-size: 1.9rem;
    }
    .box > h4 {
        font-size: 13px;
    }
    .general > .box > h2 {
        font-size: 26px;
    }
}

@media (max-width:440px) {
    .container > h2 {
        font-size: 1.2rem;
    }
    .container > h3 {
        font-size: 1.7rem;
    }
    .box > h4 {
        font-size: 11px;
    }
    .general > .box > h2 {
        font-size: 24px;
    }
}

@media (max-width:400px) {
    .container > h2 {
        font-size: 1.1rem;
    }
    .container > h3 {
        font-size: 1.5rem;
    }
    .box > h4 {
        font-size: 10px;
    }
    .general > .box > h2 {
        font-size: 23px;
    }
    .logo {
        width: 230px;
        height: 280px;
    }
}

@media (max-width:380px) {
    .container > h2 {
        font-size: 1.075rem;
    }
    .container > h3 {
        font-size: 1.3rem;
    }
    .box > h4 {
        font-size: 9px;
    }
    .general > .box > h2 {
        font-size: 22px;
    }
}

@media (max-width:380px) {
    .container > h2 {
        font-size: 1rem;
    }
    .container > h3 {
        font-size: 1.3rem;
    }
    .box > h4 {
        font-size: 9px;
    }
    .general > .box > h2 {
        font-size: 22px;
    }
}

@media (max-width:360px) {
    .container > h2 {
        font-size: 1rem;
    }
    .container > h3 {
        font-size: 1.2rem;
    }
    .box > h4 {
        font-size: 8px;
        padding: 0.5rem;
    }
    .general > .box > h2 {
        font-size: 21px;
    }
}

@media (max-width:330px) {
    .container > h2 {
        font-size: 1rem;
    }
    .container > h3 {
        font-size: 1.075rem;
    }
    .box > h4 {
        font-size: 7px;
        padding: 0.5rem;
    }
    .general > .box > h2 {
        font-size: 18px;
    }
    .logo {
        width: 200px;
        height: 250px;
    }
}

@media (max-width:300px) {
    .container > .general {
        display: grid;
        grid-template-columns: 1fr;
    }
    .container > h2 {
        font-size: 1.5rem;
    }
    .container > h3 {
        font-size: 1rem;
    }
    .box > h4 {
        font-size: 10px;
        padding: 0.3em;
    }
    .general > .box > h2 {
        font-size: 20px;
    }
    .logo {
        width: 190px;
        height: 230px;
    }
}